 *{
  padding: 0;
  margin: 0;
 }

 .head {
  background-color: rgb(142, 197, 120);
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .image {
  width: 90px;
  height: 90px;
  padding: 9px;
  margin-left: 20px;
  border-radius: 100px;
 }


 .link {
  display: flex;
  gap: 20px;
  padding: 20px;
 }

a {
 text-decoration: none;  

 }


 .banner{
  background-color: rgba(53, 0, 245, 0.26);
  height: 700px;
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
 }



 .bannerimg{
  width: 1000px;
 padding: 20px;
 
 }

 .img{
  display: flex;
 align-items: center;
 justify-content: center;
 }


 .text {
 font-weight:  bolder;

 }